header {
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

/* Menu entre logo e botão */
.header-menu {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
}

.header-menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-left: 20px;
  transition: color 0.3s ease;
}

.header-menu a:hover {
  color: #830AD1; /* Efeito hover */
  cursor: pointer;
}
