.home-box {
  height: 80vh;
  width: 90vw;
  margin-left: 0.5%;
  margin-top: 5%;
  align-items: center;
}

.content-box {
  display: flex;
  border-radius: 28px;
  align-items: center;
  margin-left: 0.3%;
  height: 100px;
  padding-left: 1.2%;
  margin-bottom: 2.5%;
  width: 60%;
  box-shadow: 0 20px 30px 15px rgba(0, 0, 0, 0.3), 0 10px 15px -3px rgba(0, 0, 0, 0.15);
}

.content-box img {
  width: 70px;
  margin-right: 40px;
}

.content-box p {
  font-size: 1.3rem;
  color: #e4dfdf8e;
  margin: 0;
}

.content-box:hover {
  cursor: pointer;
  box-shadow: 0 0 30px rgba(136, 92, 209, 1);
}

.content-box:hover p {
  /* color: #885cd1; */
  color:#ffffffca;
  cursor: pointer;
}
