.meal-voucher-page {
  padding: 0 1%;
}

.btn-year{
  margin-top: 45%;
  background-color: #4d1b8f !important;
  border: none !important;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 7px 16px !important;
  text-align: center;
  text-decoration: none;
  transition: .3s;

}